[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "app/viewer"]
	path = app/viewer
	url = https://git.dkviet.com/an.nguyen/viewer.git
[submodule "apps/viewer"]
	path = apps/viewer
	url = https://git.dkviet.com/an.nguyen/viewer.git
[submodule "apps/integration_google"]
	path = apps/integration_google
	url = https://git.dkviet.com/khang.nguyen/integration_google.git
[submodule "apps/calendar"]
	path = apps/calendar
	url = https://git.dkviet.com/an.nguyen/calendar.git
[submodule "apps/deck"]
	path = apps/deck
	url = https://git.dkviet.com/an.nguyen/deck.git
[submodule "apps/fulltextsearch"]
	path = apps/fulltextsearch
	url = https://git.dkviet.com/an.nguyen/fulltextsearch.git
[submodule "apps/files_rightclick"]
	path = apps/files_rightclick
	url = https://git.dkviet.com/khang.nguyen/right_click_dkswork.git
[submodule "apps/activity"]
	path = apps/activity
	url = https://git.dkviet.com/an.nguyen/activity.git

[submodule "apps/guests"]
	path = apps/guests
	url = https://git.dkviet.com/khang.nguyen/guest.git

[submodule "apps/files_zip"]
	path = apps/files_zip
	url = https://git.dkviet.com/vinhne/files_zip.git

[submodule "apps/files_texteditor"]
	path = apps/files_texteditor
	url = https://git.dkviet.com/an.nguyen/files_texteditor.git
