[submodule "3rdparty"]
	path = 3rdparty
	url = https://git.dkviet.com/an.nguyen/3rdparty.git
[submodule "app/viewer"]
	path = app/viewer
	url = https://git.dkviet.com/an.nguyen/viewer.git
[submodule "apps/viewer"]
	path = apps/viewer
	url = https://git.dkviet.com/an.nguyen/viewer.git
[submodule "apps/integration_google"]
	path = apps/integration_google
	url = https://git.dkviet.com/khang.nguyen/integration_google.git
[submodule "apps/calendar"]
	path = apps/calendar
	url = https://git.dkviet.com/an.nguyen/calendar.git
[submodule "apps/deck"]
	path = apps/deck
	url = https://git.dkviet.com/an.nguyen/deck.git
[submodule "apps/fulltextsearch"]
	path = apps/fulltextsearch
	url = https://git.dkviet.com/an.nguyen/fulltextsearch.git
[submodule "apps/files_rightclick"]
	path = apps/files_rightclick
	url = https://git.dkviet.com/khang.nguyen/right_click_dkswork.git
[submodule "apps/activity"]
	path = apps/activity
	url = https://git.dkviet.com/an.nguyen/activity.git

[submodule "apps/guests"]
	path = apps/guests
	url = https://git.dkviet.com/khang.nguyen/guest.git

[submodule "apps/files_zip"]
	path = apps/files_zip
	url = https://git.dkviet.com/vinhne/files_zip.git

[submodule "apps/files_texteditor"]
	path = apps/files_texteditor
	url = https://git.dkviet.com/an.nguyen/files_texteditor.git
[submodule "apps/files_antivirus"]
	path = apps/files_antivirus
	url = https://git.dkviet.com/vinhne/files_antivirus.git
[submodule "apps/files_fulltextsearch"]
	path = apps/files_fulltextsearch
	url = https://git.dkviet.com/khang.nguyen/files_fulltextsearch.git
[submodule "apps/customproperties"]
	path = apps/customproperties
	url = https://git.dkviet.com/an.nguyen/customproperties.git
[submodule "apps/richdocuments"]
	path = apps/richdocuments
	url = https://git.dkviet.com/an.nguyen/richdocuments.git
[submodule "apps/files_automatedtagging"]
	path = apps/files_automatedtagging
	url = https://git.dkviet.com/an.nguyen/files_automatedtagging.git
[submodule "apps/duplicatefinder"]
	path = apps/duplicatefinder
	url = https://git.dkviet.com/an.nguyen/duplicatefinder.git
